<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ArticleReplyMapper">
<!-- 定义结果集-->
  <resultMap id="AllInfoResultMap" type="com.example.demo.model.ArticleReply" extends="BaseResultMap">
<!-- 关联的用户对象的映射-->
    <association property="user" resultMap="com.example.demo.dao.UserMapper.BaseResultMap"
    columnPrefix="u_"/>
  </resultMap>

<!--根据帖子id查询回复列表-->
    <select id="selectByArticleId" parameterType="java.lang.Long" resultMap="AllInfoResultMap">
        select
        u.id as u_id,
        u.avatarUrl  u_avatarUrl,
        u.nickname  u_nickname,
        ar.id,
        ar.articleId,
        ar.postUserId,
        ar.replyId,
        ar.replyUserId,
        ar.content,
        ar.likeCount,
        ar.state,
        ar.createTime,
        ar.updateTime
        from t_article_reply ar,t_user u
        where ar.postUserId=u.id
        and ar.articleId= #{articleId,jdbcType=BIGINT}
        and ar.deleteState=0
        order by ar.createTime desc
    </select>
</mapper>